spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:53306/ody
    username: root
    password: 1234
  flyway:
    url: jdbc:mysql://localhost:53306/ody
    user: root
    password: 1234
    connect-retries: 30
  jpa:
    hibernate:
      ddl-auto: create-drop
log:
  file:
    path: ./ody-local-logs
