spring:
  config:
    import: classpath:private/private.yml
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: never
      schema-locations: classpath:schema.sql

log:
  file:
    path: /ody-dev-logs
