name: backend-cd-dev

on:
  push:
    branches:
      - feature/453
#      - develop
    paths:
      - backend/**

env:
  DOCKERHUB_REPOSITORY: ody-official

jobs:
  build-and-push:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4
        with:
#          ref: develop
          submodules: true
          token: ${{ secrets.GIT_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Clean Build With Gradle Wrapper
        run: ./gradlew clean build

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: ${{ github.workspace }}/backend/build/test-results/**/*.xml

      - name: JUnit Report Action
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: ${{ github.workspace }}/backend/build/test-results/**/*.xml

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker Image Build And Push
        run: docker build --platform linux/arm64 -t ${{ secrets.DOCKERHUB_USERNAME }}/$DOCKERHUB_REPOSITORY:${{ github.sha }}-dev -f Dockerfile . --push

  pull-and-deploy:

    needs: build-and-push
    runs-on: dev

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Clean Up Legacy Image
        run: |
          docker compose down || true
          docker rmi $(docker images -q) -f || true

      - name: Docker Compose up
        run: |
          export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
          export DOCKERHUB_REPOSITORY=$DOCKERHUB_REPOSITORY
          export DEV_MYSQL_PASSWORD=${{ secrets.DEV_MYSQL_PASSWORD }}
          export GIT_SHA=${{ github.sha }}
          docker compose up -d

      - name: Check Docker Process
        run: docker ps
